.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7e7ce;
  margin: 0;
  padding: 18px 70px;
  position: relative;
  font-weight: 400;
}

.header_type_dark {
  background-color: #fedea1;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #424242;
}

.header__account {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__logo {
  width: 150px;
  height: 38px;
  background: url("../../images/logo_dark.svg") center center no-repeat;
  transition: opacity 0.3s linear;
}

.header__logo:hover {
  opacity: 0.5;
}

.header__nav {
  display: flex;
  gap: 16px;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  transition: opacity 0.3s linear;
}

.header__link_active {
  text-decoration: underline;
}

.header__link_type_profile {
  display: flex;
  align-items: center;
}

.header__link_type_signin {
  width: 76px;
  height: 32px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6fb0b6;
  border-radius: 3px;
}

.header__link_type_form {
}

.header__link_type_list {
}

.header__link:hover {
  opacity: 0.5;
}

.header__subtitle {
  margin: 0;
  padding: 0;
}

.header__img {
  padding: 8px;
  width: 12px;
  height: 14px;
  border-radius: 4px;
}

.header__button {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: center center url("../../images/menu-icon.svg");
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 21px 30px;
  }

  .header__link {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }

  .header__container {
    padding-bottom: 5px;
  }

  .header__logo {
    height: 25px;
    width: 100px;
    background-image: url("../../images/logo_dark_768.svg");
  }

  .header__link {
    font-size: 10px;
  }

  .header__link_type_signin {
    width: 54px;
    height: 26px;
  }

  .header__button {
    width: 40px;
    height: 43px;
  }
}

@media screen and (max-width: 424px) {
  .header__logo {
    width: 25px;
    background-image: url("../../images/logo_dark_425.svg");
  }
}
